@import "src/assets/scss/theme";

section.list-table{
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  .table-head{
    box-sizing: border-box;
    .table-header{
      padding: 0 5px;
      box-sizing: border-box;
      font-weight: bold;
      margin: 1px;
      &.actions {
        width: 100px;
      }
    }

  }
  .table-body{
    margin: 10px 0;
    height: 50vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 30px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
      border-radius: 30px;
    }
    .table-body-listing{
      flex: 1;
      .table-row{
        padding: 0 15px;
        box-sizing: border-box;
        &:nth-child(even) {
          background: rgba(0, 0, 0, 0.12);
          border-radius: 15px;
        }
        .table-column {
          padding: 0 10px;
          box-sizing: border-box;
          &.actions {
            width: 100px;
          }
        }
        .table-actions{
          .text-primary {
            color: $primary-color;
          }
          .text-warning {
            color: $warning-color;
          }
          .text-danger {
            color: $danger-color;
          }
          i {
            cursor: pointer;
            &:hover {
              color: #633bb6;
            }
          }

        }
      }
    }
  }
}
